doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bubbles.css')
    script(src="https://cdn.socket.io/socket.io-1.0.0.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/d3/d3.min.js")
    script.
      var bubbles="#{bubbles}";
    script(src="javascripts/bubbles.js")

  body