doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bubbles.css')
    script(src="https://cdn.socket.io/socket.io-1.0.0.js")
    script(src="javascripts/jquery-3.1.1.min.js")
    script(src="javascripts/bubbles.js")

  body
    block content
      div(id="bigHolder")
        div(id= "bubbleHolder")
