doctype html
html
  head
    title= title
    script.
      var roomName = "#{title}"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/socket.io-client/1.3.2/socket.io.min.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="javascripts/chat.js")

  body
    block content
