.circle{
  border-radius: 50%;
  background-color: cornflowerblue; 
  width: 100px;
  height: 100px;
  margin: -100px;
  margin-left: 200px;
  border: 3px solid #333;
  display: block
}

.bubbleText{
  line-height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

#bubbleHolder{
	position: absolute;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
	overflow: visible;
	background: red;
}