a {
  color: #00B7FF;
}

body{
  height: 100%;
}

ul {
  color: white;
  list-style-type: none;
}

h1{
  text-align: center;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.chatbox input{
  background-color: black;
}

#chat-panel{
  margin-left: 5%;
  margin-right: 5%;
}

li{
  margin-left: 2%;
  margin-right: 2%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#message-holder{
  height: 75vh;
  overflow-y: scroll;
  padding: 0%;
  padding-top: 3%;
}

.modest-message{
  display: inline-block;
}

#chatbox-wrapper{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0%;
  padding: 0%;
  background-color: transparent;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 12px;
}

.hide-scrollbar ::-webkit-scrollbar{
  visibility: hidden
} 

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: darkgray;
}