a {
  color: #00B7FF;
}

body{
  height: 100%;
}

ul {
  color: white;
}

h1{
  text-align: center;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container{ 
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: black;
  min-height: 90%;
}

#chat-panel{
  padding-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: 85vh;
}

.chatbox-wrapper {
  position:relative;
}

.chatbox {
  margin-left:2%;
  margin-right:2%;
  margin-bottom: 5%;
  position:absolute;
  bottom: 0;
  width: 85%;
  height: 40px;
  background-color: #f5f5f5;
}

.chatbox input{
  background-color: black;
}

#sendBtn{
  height: 40px;
  width: 100px;
  margin: 0;
}